Package: com.sovereign.v41
Name: SovereignSecurity
Depends: 
Version: 41.0.0
Architecture: iphoneos-arm
Description: Sovereign Security - Non-Jailbreak Edition.
Maintainer: Sovereign Team
Author: Sovereign Team
Section: Tweaks
